node_modules
**/node_modules
.tools
apps/mobile
.git
.github
**/.env
**/.env.*
!**/.env.example
!**/.env.railway.example
**/dist
apps/backend/uploads
*.md
*.zip
*.tar
*.tar.gz
.cursor
terminals
**/*.log
coverage
.turbo
