<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKmTbqvhVDLz1x6G1y6VsIOuNeGc8xJ6U</string>
	<key>GCM_SENDER_ID</key>
	<string>863980504433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mimar.app</string>
	<key>PROJECT_ID</key>
	<string>mimar-app-2e7ab</string>
	<key>STORAGE_BUCKET</key>
	<string>mimar-app-2e7ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863980504433:ios:6f69307e780323935362d0</string>
</dict>
</plist>
